<app-nav></app-nav>
<h1 class="display-4 text-center">View Product</h1>   
<div class="container">
<div class="row">
    <div class="col col-12 col-sm-12 col-md-12-col-lg-12-col-xl-12 col-xxxl-12">
        <div class="row g-3">
            <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src={{i.image}} class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                      <p class="card-subtitle text-muted text-truncate-5">Description:{{i.description}}</p>
                      <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Category:{{i.category}}</li>
                        <li class="list-group-item">Price:{{i.price}}</li>
                        <li class="list-group-item">Rating:{{i.rating.rate}}({{i.rating.count}})</li>
                    </ul>
                  </div>
            </div>     
        </div>
    </div>
</div>
</div>